body {
  background-color: rgb(214, 212, 212);
}
h1 {
  color: rgb(73, 4, 138);
  text-align: center;
}
h2 {
  color: rgb(54, 42, 165);
}
#p1 {
  text-align: center;
}
.grupo {
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
footer {
  text-align: center;
}
img {
  border-radius: 10px;
}
.grupo99{
  color: black;
}